{{ template "header" . }}

<div class="maincontents">

<h1>FAQ</h1>

<h2 id="man-problems">Where to report problems in manpages?</h2>

<p>
There are 3 different places where problems in manpage rendering might
need to be reported:
</p>

<ul>
<li>If the manpage renders correctly in some manpage viewers, but not
  on <a href="https://manpages.debian.org">manpages.debian.org</a>,
  this might likely be a limitation/bug
  with <a href="http://mdocml.bsd.lv/">mdocml</a> (the renderer we
  use). <a href="http://mdocml.bsd.lv/contact.html">Report at
  mdocml</a>.</li>
<li>If the manpage contains wrong content, and was added by the Debian
  package maintainer, report at
  the <a href="https://bugs.debian.org/">Debian bug tracker</a>.</li>
<li>If the manpage contains wrong content and comes from the upstream
  software, report at the upstream bug tracker. Follow
  the <a href="https://tracker.debian.org/">Package tracker</a> link
  on the given manpage to find out which package is responsible for
  the manpage, and follow the "homepage" link. If there is no
  homepage, file a bug against
  the <a href="https://bugs.debian.org/">Debian bug tracker</a>.</li>
</ul>

<h2 id="debiman-problems">Where to report problems with the service?</h2>

<p>
  If the manpages are usually rendered correctly or you do not exactly
  know where the problem is, it is possible the problem is
  with <a href="https://github.com/Debian/debiman">debiman</a> itself,
  in which case feel free to open
  an <a href="https://github.com/Debian/debiman/issues">issue on
  Github</a>.
</p>

<p>Note: the Github issue tracker is for software-specific issues. If
  there are issues with the service (e.g. server not found or other
  service issues), the bug should be reported against
  the <a href="https://bugs.debian.org/manpages.debian.org">manpages.debian.org
  pseudo-package</a>. (Currently unavailable,
  see <a href="https://bugs.debian.org/851885">bug #851885</a>.)
</p>

<h2 id="patches">I have an improvement to make on the site</h2>

<p>
  If you have found an issue and know of a solution, there's a good
  chance you can fix it yourself as well. If the problem is in the
  manpage content, see the <a href="#man-problems">above FAQ entry</a>
  on where to report and contribute a fix. If the problem is within
  the Debiman software
  itself, <a href="https://github.com/Debian/debiman/pulls">pull
  requests are welcome on Github</a>. If the problem is in the content
  of one of those static pages, you may need to make changes to the
  <a href="https://anonscm.debian.org/git/srv-manpages/debian-assets.git/">static
  assets repository</a>. Pushing to that repository requires access to
  the <code>srv-manpages</code> group, which is granted through a
  request on
  the <a href="https://alioth.debian.org/projects/srv-manpages/">Alioth
  project</a>. You can also simply send a patch by email on
  the <a href="https://lists.debian.org/debian-doc/">Debian
  Documentation Mailing List</a> if this is a one-off change.
</p>

<p>
  Changes to the static assets are picked up by Debiman cron job,
  which runs every 4 hours. Then the changes are propagated through a
  Debian static mirror infrastructure, which adds an additional
  delay. Changes to templates are not propagated until manpages
  themselves are re-generated. A full regeneration run can be ran by
  hand, but takes a few hours to complete.
</p>

<h2 id="deploy">Debiman looks great, how can I deploy it myself?</h2>

<p>
  Debiman
  is <a href="https://github.com/Debian/debiman/blob/master/LICENSE">free
  software</a> so you are free (and indeed, encouraged) to reuse this
  platform for your own need. The source code
  is <a href="https://github.com/Debian/debiman/">hosted on Github</a>
  and the site-specific text for this site
  is <a href="https://anonscm.debian.org/git/srv-manpages/debian-assets.git/">hosted
  on Alioth</a>, which may be useful as an example of how to customize
  this text in your own instance.
</p>

<p>
  You should not, however, use that repository as is, unless you wish
  to run a mirror of this documentation, in which case you should
  contact the maintainers first (see above for contact information).
</p>

<p>
  Also note that there is some Debian-specific code in Debiman you may
  need to change to make it work with your distribution,
  see <a href="https://github.com/Debian/debiman/issues/56">issue
  #56</a> for more information about that limitation.
</p>

<h2 id="other">Question not answered?</h2>

<p>
  If you have any more question that is not answered here, please
  direct your questions to
  the <a href="https://lists.debian.org/debian-doc/">Debian
  Documentation Mailing List</a>.
</p>

</div>

{{ template "footer" . }}
