{{ template "header" . }}

<div class="maincontents">

<h1>FAQ</h1>

<p>
There are no Frequently Asked Questions yet, please direct your questions to
the <a href="https://lists.debian.org/debian-doc/">Debian Documentation Mailing
List</a>.
</p>

</div>

{{ template "footer" . }}
